---
import HTMLIcon from "../assets/icons/HTML.astro";
import CSSIcon from "../assets/icons/CSS.astro";
import JavaScriptIcon from "../assets/icons/JavaScript.astro";
import BentoItem from "./BentoItem.astro";
import GithubIcon from "./icons/Github.astro";
import BoxArrowIcon from "./icons/BoxArrow.astro";
import ReactIcon from "../assets/icons/React.astro";
import TailwindIcon from "../assets/icons/Tailwind.astro";
import SpringIcon from "../assets/icons/Spring.astro";
import MySQLIcon from "../assets/icons/MySQL.astro";
---

<section
  class={`
    w-full max-w-[1400px] mt-8
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
  <BentoItem
    class="col-span-10 md:col-span-4"
    title="Cadem"
    subtitle="Junio 2022"
  >
    <div
      slot="image"
      class="transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-black-950
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/images/proyecto-wix-cadem.webp')"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg text-white">
      Sitio web hecho con Wix.
      <!-- Tecnologias -->
    </p>

    <div slot="links" class="flex justify-end items-center">
      <span
        class="overflow-hidden rounded-sm border bg-white/80 shadow-sm flex items-center justify-center"
      >
        <a
          href="https://excreplex.wixsite.com/cadem"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block border-e p-2 text-gray-700 hover:bg-white focus:relative"
        >
          <BoxArrowIcon class="size-5" />
          <span class="sr-only">Ver demo</span>
        </a>
      </span>
    </div>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title="IngeTec"
    subtitle="Septiembre 2023."
  >
    <div
      slot="image"
      class="transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-black-950
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/images/IngeTec.webp')"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg text-white">
      Sitio web estatico para el cuerpo academico INGETEC del TECNM Campus
      Zongolica.
    </p>

    <div slot="tecnologies" class="flex gap-x-2 justify-start items-center">
      <HTMLIcon class="size-8" />
      <CSSIcon class="size-6" />
      <JavaScriptIcon class="size-6" />
    </div>
    <div slot="links" class="flex justify-end items-center">
      <span
        class="overflow-hidden rounded-sm border bg-white/80 shadow-sm flex items-center justify-center"
      >
        <a
          href="https://ingetec-jesus-puertos.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block border-e p-2 text-gray-700 hover:bg-white focus:relative"
        >
          <BoxArrowIcon class="size-5" />
          <span class="sr-only">Ver demo</span>
        </a>

        <a
          href="https://github.com/Jesus-Puertos/Cuerpo-academico-ingetec"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block border-e p-2 text-gray-700 hover:bg-white focus:relative"
        >
          <GithubIcon class="size-5" />
          <span class="sr-only">Abrir en GitHub</span>
        </a>
      </span>
    </div>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title="Blog de café"
    subtitle="Agosto 2023"
  >
    <div
      slot="image"
      class="transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-black-950
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/images/blog-de-cafe-udemy.webp')"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg text-white">
      Landing page de un blog de café.
    </p>
    <div slot="tecnologies" class="flex gap-x-2 justify-start items-center">
      <HTMLIcon class="size-8" />
      <CSSIcon class="size-6" />
      <JavaScriptIcon class="size-6" />
    </div>
    <div slot="links" class="flex justify-end items-center">
      <span
        class="overflow-hidden rounded-sm border bg-white/80 shadow-sm flex items-center justify-center"
      >
        <a
          href="https://proyecto-3-blog-de-cafejp.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block border-e p-2 text-gray-700 hover:bg-white focus:relative"
        >
          <BoxArrowIcon class="size-5" />
          <span class="sr-only">Ver demo</span>
        </a>

        <a
          href="https://proyecto-3-blog-de-cafejp.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block border-e p-2 text-gray-700 hover:bg-white focus:relative"
        >
          <GithubIcon class="size-5" />
          <span class="sr-only">Abrir en GitHub</span>
        </a>
      </span>
    </div>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-4"
    title="Gatito Millonario"
    subtitle="Marzo 2023"
  >
    <div
      slot="image"
      class="transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-black-950
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-105"
      style="background-image: url('/images/gatito-millonario.webp')"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg text-white">
      Juego para el sitio de cultura tributaria desarrollado con JavaScript y
      Canvas.
    </p>
    <div slot="tecnologies" class="flex gap-x-2 justify-start items-center">
      <HTMLIcon class="size-8" />
      <CSSIcon class="size-6" />
      <JavaScriptIcon class="size-6" />
    </div>
    <div slot="links" class="flex justify-end items-center">
      <span
        class="overflow-hidden rounded-sm border bg-white/80 shadow-sm flex items-center justify-center"
      >
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block border-e p-2 text-gray-700 hover:bg-white focus:relative"
        >
          <BoxArrowIcon class="size-5" />
          <span class="sr-only">Ver demo</span>
        </a>

        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block border-e p-2 text-gray-700 hover:bg-white focus:relative"
        >
          <GithubIcon class="size-5" />
          <span class="sr-only">Abrir en GitHub</span>
        </a>
      </span>
    </div>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title="Sistema de recursos humanos"
    subtitle="Enero 2024"
  >
    <div
      slot="image"
      class="transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-black-950
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-105"
      style="background-image: linear-gradient(to right, rgb(0 0 0 /0.4),rgb(0 0 0 / 0)),url('/images/recursos-humanos-proyecto.webp')"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg text-white">
      Aplicación FullStack creada con tecnologías de vanguardia: React y
      TailwindCSS en el frontend, respaldado por Spring Boot y MySQL en el
      backend.
    </p>
    <div slot="tecnologies" class="flex gap-x-2 justify-start items-center">
      <ReactIcon class="size-8" />
      <TailwindIcon class="size-6" />
      <SpringIcon class="size-6" />
      <MySQLIcon class="size-6 contrast-50" />
    </div>
    <div slot="links" class="flex justify-end items-center">
      <span
        class="overflow-hidden rounded-sm border bg-white/80 shadow-sm flex items-center justify-center"
      >
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block border-e p-2 text-gray-700 hover:bg-white focus:relative"
        >
          <GithubIcon class="size-5" />
          <span class="sr-only">Abrir en GitHub</span>
        </a>
      </span>
    </div>
  </BentoItem>
</section>
