---
import HTMLIcon from "../assets/icons/HTML.astro";
import CSSIcon from "../assets/icons/CSS.astro";
import JavaScriptIcon from "../assets/icons/JavaScript.astro";
import BentoItem from "./BentoItem.astro";
---

<section
  class={`
    w-full max-w-[1400px] mt-8
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
  <BentoItem
    class="col-span-10 md:col-span-4"
    title="Cadem"
    subtitle="Junio 2022"
  >
    <div
      slot="image"
      class="transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-black-950
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/images/proyecto-wix-cadem.avif')"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg">
      Sitio web hecho con Wix.
      <!-- Tecnologias -->
    </p>
    <div slot="tecnologies" class="flex gap-x-2 justify-start items-center">
      <CSSIcon class="size-6" />
      <JavaScriptIcon class="size-6" />
    </div>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title="IngeTec"
    subtitle="Septiembre 2023."
  >
    <div
      slot="image"
      class="transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-black-950
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/images/IngeTec.avif')"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg">
      Sitio web estatico para el cuerpo academico INGETEC del TECNM Campus
      Zongolica.
    </p>

    <div slot="tecnologies" class="flex gap-x-2 justify-start items-center">
      <HTMLIcon class="size-8" />
      <CSSIcon class="size-6" />
      <JavaScriptIcon class="size-6" />
    </div>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title="Blog de café"
    subtitle="Marzo 2023"
  >
    <div
      slot="image"
      class="transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-black-950
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/images/blog-de-cafe-udemy.avif')"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg">
      Landing page de un blog de café.
    </p>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-4"
    title="Gatito Millonario"
    subtitle="Marzo 2023"
  >
    <div
      slot="image"
      class="transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-black-950
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-105"
      style="background-image: url('/images/gatito-millonario.avif')"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg">
      Juego para el sitio de cultura tributaria desarrollado con JavaScript y
      Canvas.
    </p>
  </BentoItem>
</section>
