<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-white/5 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-0"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span
      class="text-sm sm:text-center text-yellow-800/90 dark:text-yellow-200/90"
      >© 2024 Jesús Puertos. Inspirado por el vídeo de<a
        href="https://midu.dev/"
        class="hover:underline"
      >
        Midudev</a
      >. Casi todos los derechos reservados
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a href="#sobre" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/jes%C3%BAs-puertos-mx/"
          rel="noopener noreferrer"
          target="_blank"
          class="hover:underline">Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
