---
import HTML from "../assets/icons/HTML.astro";
import CSS from "../assets/icons/CSS.astro";
import ProjectsImage from "./ProjectsImage.astro";
import PHP from "../assets/icons/PHP.astro";
import Sass from "../assets/icons/Sass.astro";
import JavaScript from "../assets/icons/JavaScript.astro";
import MySQL from "../assets/icons/MySQL.astro";
const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#E34F26]/70 text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#777BB4]/30 text-white",
    icon: PHP,
  },
  SASS: {
    name: "Sass",
    class: "bg-[#CD6799]/30 text-white",
    icon: Sass,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black",
    icon: JavaScript,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#4479A1] text-white",
    icon: MySQL,
  },
};

const PROJECTS = [
  {
    title: "Proyecto FullStack Complementarias -TECNM Campus Zongolica",
    description:
      "Estoy Desarrollando una plataforma para el registro de actividades complementarias de los estudiantes del Tecnológico Nacional de México Campus Zongolica.",
    link: "#",
    github: "#",
    image: ProjectsImage,
    tags: [
      TAGS.PHP,
      TAGS.SASS,
      TAGS.JAVASCRIPT,
      TAGS.HTML,
      TAGS.CSS,
      TAGS.MYSQL,
    ],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex flex-wrap  gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <ProjectsImage imageName="TECNMComplementarias" />
    </article>
  ))
}
