---
import ExperienceItem from "./Experience.astro";
import { getI18N } from "../i18n/";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const EXPERIENCIE = Array.isArray(i18n.EXPERIENCIA) ? i18n.EXPERIENCIA : [];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie: any) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
